{% set link = pager.makelink() %}

{% if pager.totalpages > 1 %}
<nav class="navigation paging-navigation" role="navigation">
    <h1 class="screen-reader-text">{{ 'Posts navigation'|trans }}</h1>
    <div class="nav-links">
        {% if pager.current > surr+1 %}
        <div class="nav-previous">
            <a href="{{link}}{{pager.current+1}}"><span class="meta-nav">&larr;</span> Older posts</a>
        </div>
        {% endif %}

        {% if pager.current < pager.totalpages-surr %}
        <div class="nav-next"><?php previous_posts_link( __( 'Newer posts <span class="meta-nav">&rarr;</span>', 'adirondack' ) ); ?></div>
        {% endif %}
    </div><!-- .nav-links -->
</nav><!-- .navigation -->
<div id="infinite-handle">
{% if pager.current < pager.totalpages %}
    <span>
            <a href="{{link}}{{pager.current+1}}">Older posts</a>
    </span>
{% endif %}
{% if pager.current > 1 %}
    <span>
            <a href="{{link}}{{pager.current-1}}">Newer posts</a>
    </span>
{% endif %}
</div>
{% endif %}