{% extends 'layout.twig' %}
{% block body_class %}singular{% if not record.image %} no-image{% endif %}{% endblock body_class %}
{% block content %}

{% if record.image %}
    {% if imageinfo(record.image).portrait %}
        <div class="entry-image"><img src="{{ thumbnail(record.image, 2000, 9999, 'r') }}"></div>
    {% elseif imageinfo(record.image).landscape %}
        <div class="entry-image panorama"><img src="{{ thumbnail(record.image, 2000, 9999, 'r') }}"></div>
    {% else %}
        <div class="entry-image full-width"><img src="{{ thumbnail(record.image, 2000, 9999, 'r') }}"></div>
    {% endif %}
{% else %}
	<header class="entry-header">
		<h1 class="entry-title" data-bolt-field="title">{{record.title}}</h1>
	</header><!-- .entry-header -->
{% endif %}

<article id="post-{{record.id}}" class="post hentry type-post {% if record.image %}has-post-thumbnail{% else%}no-image{% endif %}">
	{% if record.image %}	
    <header class="entry-header">
		<h1 class="entry-title" data-bolt-field="title">{{record.title}}</h1>
	</header><!-- .entry-header -->
    {% endif %}

	<div class="entry-content">
		<div class="wrapper">
			{{ record.teaser }}
            {{ record.body }}
		</div>
	</div><!-- .entry-content -->

	<footer class="entry-footer">
        
        <div class="meta-item">
            <h4 class="meta-title">{{__('Published')}}</h4>
            <time class="entry-date published updated" datetime="%1$s">{{ entry.datepublish|localdate()}}</time>
        </div>
        
        {% if record.datechanged > record.datepublish %}
        <div class="meta-item">
            <h4 class="meta-title">{{__('Updated')}}</h4>
            <time class="entry-date published updated" datetime="%1$s">{{ entry.datechanged|localdate()}}</time>
        </div>
        {% endif %}
        
		{% if record.taxonomy.tags is defined %}
			<div class="meta-item tags">
				<h4 class="meta-title">{{ __('Tags') }}</h4>
				{% for link,tag in record.taxonomy.tags %}
                <a href="{{link}}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
			</div>
		{% endif %}

		{% if record.taxonomy.categories is defined %}
			<div class="meta-item categories">
				<h4 class="meta-title">{{ __('Categories') }}</h4>
				{% for link,category in record.taxonomy.categories %}
                <a href="{{link}}">{{ category }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
			</div>
		{% endif %}

        {% if record.editlink() %}
		<div class="meta-item format">
            <h4 class="meta-title">{{ __('Admin') }}</h4>
            <a href="{{ record.editlink() }}">{{ __("Edit")}}</a>
        </div>
        {% endif %}
		

		{% if Disqus is defined and false %}
			<div class="meta-item comments">
				<h4 class="meta-title"><?php _e( 'Comments', 'adirondack' ); ?></h4>
				<a href="#comments" class="toggle-comments text" data-show="<?php esc_attr_e( 'View comments', 'adirondack' ); ?>" data-hide="<?php esc_attr_e( 'Hide comments', 'adirondack' ); ?>"></a>
			</div>
		{% endif %}
	</footer><!-- .entry-footer -->
</article><!-- #post-## -->

{# Post navigation #}
{% set previous = record.previous() %}
{% set next = record.next() %}
<nav class="navigation post-navigation" role="navigation">
    <h1 class="screen-reader-text">{{ __('Post navigation') }}</h1>
    <div class="nav-links">
        {% if previous %}
        <div class="nav-previous"><a href="{{previous.link}}"><span class="meta-nav">&larr;</span>&nbsp;{{previous.title}}</a></div>
        {% endif %}
        {% if next %}
        <div class="nav-next"><a href="{{next.link}}">{{next.title}}&nbsp;<span class="meta-nav">&rarr;</span></a></div>
        {% endif %}
    </div><!-- .nav-links -->
</nav><!-- .navigation -->

{% endblock content %}