{% extends 'layout.twig' %}
{% block content %}
{% setcontent records = "entries/latest/20" allowpaging %}
{% for record in records %}

    {% if record.image %}
    {% set post_bg = imageinfo(record.image) %}
    {% endif %}
<article id="post-{{record.id}}" 
         {% if record.image %}
         style="background: url({{record.image|thumbnail(670,500,'r')}}) no-repeat center; background-size: cover;"
         {% endif %}
         class="post hentry post-grid {% if record.image %}has-post-thumbnail{% else %}no-image{% endif %}">
	<a href="{{ record.link }}" rel="bookmark" class="entry-link">
		<header class="entry-header">
			<h1 class="entry-title">{{ record.title }}</h1>
		</header><!-- .entry-header -->
        {% if not record.image %}
        <div class="entry-summary">
            {{record.excerpt(200)}}
        </div>
        {% endif %}

		<div class="link-button"><span>{{ 'View more'|trans}}</span></div>
	</a>
</article>
{% endfor %}
{{ pager('', 1, '_pager.twig') }}
{% endblock content %}