<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
            {{ app.config.get('general/sitename') }}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
        </title>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" media="all" href="{{ paths.theme }}style.css"/>
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Maven+Pro%3A400%2C500%2C700%2C900|PT+Serif%3A400%2C700%2C400italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    </head>
<body class="{% block body_class %}home blog infinite-scroll {% endblock body_class %}">
    {# SVG #}   
    <div style="display:none">{% include 'images/sprite.svg' %}</div>
    <a class="skip-link screen-reader-text" href="#content">{{'Skip to content'|trans}}</a>
    
    <div id="page" class="hfeed site">
        {# Page header #}
        <header id="masthead" class="site-header" role="banner">
            <div class="site-branding">
                <h1 class="site-title"><a href="{{ paths.root }}" rel="home">{{ app.config.get('general/sitename') }}</a></h1>
            </div>

            <div class="nav-container">
                <nav id="site-navigation" class="main-navigation <?php echo $button? 'has-widgets': 'no-widgets'; ?>" role="navigation">
                    <button class="menu-toggle">{{'Menu'|trans}}</button>
                    {# Sidebar toggle when available #}
                    {% if theme.sidebar is defined %}
                    <div class="small-widgets-toggle widgets-toggle">
                        <button><svg class="ellipsis"><use xlink:href="#icon-ellipsis" /></svg><svg class="x"><use xlink:href="#icon-x" /></svg></button>
                    </div>
                    {% endif %}
                    <div class="menu-menu-1-container">
                        <ul id="menu-menu-1" class="menu">
                            {{ menu(theme.menu, '_sub_menu.twig') }}
                            {% if theme.sidebar is defined %}
                            <li class="widgets-toggle"><button><svg class="ellipsis"><use xlink:href="#icon-ellipsis" /></svg><svg class="x"><use xlink:href="#icon-x" /></svg></button></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav><!-- #site-navigation -->
            </div>
        </header><!-- #masthead -->
        
        {# Main content #}
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    {% block content %}No content available. {% endblock content %}
                </main>
            </div>
        </div>
    </div>
</body>
</html>