{% extends 'layout.twig' %}
{% block body_class %}page singular {% if not record.image %}no-image{%endif%}{%endblock body_class %}
{% block content %}
{% if record.image %}
    {% if imageinfo(record.image).portrait %}
        <div class="entry-image"><img src="{{ thumbnail(record.image, 2000, 9999, 'r') }}"></div>
    {% elseif imageinfo(record.image).landscape %}
        <div class="entry-image panorama"><img src="{{ thumbnail(record.image, 2000, 9999, 'r') }}"></div>
    {% else %}
        <div class="entry-image full-width"><img src="{{ thumbnail(record.image, 2000, 9999, 'r') }}"></div>
    {% endif %}
{% else %}
	<header class="entry-header">
		<h1 class="entry-title">{{record.title}}</h1>
	</header><!-- .entry-header -->
{% endif %}
<article id="post-{{record.id}}" class="post type-post status-publish format-image has-post-thumbnail hentry post_format-post-format-image">
	{% if record.image %}	
    <header class="entry-header">
		<h1 class="entry-title">{{record.title}}</h1>
	</header><!-- .entry-header -->
    {% endif %}

	<div class="entry-content">
		<div class="wrapper">
			{{ record.teaser }}
            {{ record.body }}
		</div>
	</div><!-- .entry-content -->

	<footer class="entry-footer">
        
		{% if record.taxonomy.tags is defined %}
			<div class="meta-item tags">
				<h4 class="meta-title">{{ 'Tags'|trans }}</h4>
				{% for tag in record.taxonomy.tags %}
                    {{ tag }}{% if not loop.last %}, {% endif %}
                {% endfor %}
			</div>
		{% endif %}
	</footer><!-- .entry-footer -->
</article><!-- #post-## -->

{% endblock content %}